#intro {
  background-image: url(../assets/images/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 94px;
  header {
    margin-top: 120px;

    .avatar {
      position: relative;
      max-width: 112px;
      margin: 0 auto;
      margin-bottom: 56px;

      img#avatar {
        width: 96px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        outline: 3px solid var(--green);
        padding: 4.36px;
      }

      &::after {
        content: url(../assets/images/Code.png);
        width: 32px;
        height: 32px;
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
    }

    #text {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 680px;
      margin: 0 auto;

      p.subtitle {
        color: var(--gray-500);
        margin-bottom: 8px;
        span {
          color: var(--green);
        }
      }

      p.text-sm {
        margin-top: 20px;
        color: var(--gray-400);
      }
    }

    .tag-list {
      margin-top: 80px;
      display: flex;
      justify-content: center;
      gap: 16px;

      .tag {
        padding: 8px 16px;
        background-color: var(--gray-300);
        border-radius: 999px;
        display: flex;
        gap: 8px;
        align-content: center;
      }
    }
  }
  a {
    margin-bottom: 57px;
  }
}

#projects {
  margin-top: 72px;
  margin-bottom: 144px;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 330px;
    background-color: var(--gray-300);
    border-radius: 12px;
    padding: 12px;

    img {
      width: 306px;
      border-radius: 8px;
    }
    div {
      padding: 4px;

      h3 {
        margin-bottom: 8px;
      }
      p {
        color: var(--gray-500);
      }
    }

    &:hover{
      border: 1.5px solid var(--gray-400);
    }

  }
}

#services {
  padding-top: 88px;
  padding-bottom: 120px;
  background-color: var(--gray-100);

  .card-list {
    grid-template-columns: repeat(3, 280px);
    justify-content: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 280px;
    background-color: var(--gray-100);
    border-radius: 12px;
    border: 2px solid var(--gray-200);
    padding: 20px;

    img {
      width: 48px;
      aspect-ratio: 1/1;
    }
    div {
      h3 {
        margin-bottom: 8px;
      }
      p {
        color: var(--gray-500);
      }
    }
  }
}

#contact {
  background-image: url(../assets/images/Background_Contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 128px;
  padding-bottom: 200px;

  header{
    display: grid;
    gap: 8px;
    h2{
      color: var(--blue);
    }
    p:last-child{
      color: var(--gray-500);
    }
  }

  .links{
    max-width: 400px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .link{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--gray-300);
      padding: 20px;
      border-radius: 8px;
      color: var(--gray-500);
      text-decoration: none;

      span{
        width: 100%;
        margin: 0 12px;
      }
      &:hover{
        background-color: var(--gray-100);
        color: var(--blue);
        border: 1px solid var(--blue);
      }
      
    }
  }
}
